<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Compte principale</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="account-infos">
    <ion-card-content>
      <p class="solde">Solde : <span class="value">{{account_balance.accountBalance}}</span> Ariary</p>
    </ion-card-content>
  </ion-card>
  
  <form class="form">
    <h1 class="form-title">Achat crédit</h1>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Montant</ion-label>
      <ion-input type="text" class="form-item-input" [(ngModel)]="account_balance_transaction.amount" name="amount" required>
      </ion-input>
    </ion-item>
    
    <div class="button-wrap">
      <ion-button slot="start" (click)="SaveAccountBalanceTransaction()">Acheter</ion-button>
    </div>
    <div *ngIf="acheterLoading" class="loader-wrap">
      <ion-spinner></ion-spinner>
    </div>
  </form>
</ion-content>
