<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Appel</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form class="form">
    <h1 class="form-title">Simulation d'appel</h1>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Destinataire</ion-label>
      <ion-input type="text" class="form-item-input" [(ngModel)]="call.recipient_phone_number" name="recipient_phone_number" required>
      </ion-input>
    </ion-item>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Durée de l'appel (en seconde)</ion-label>
      <ion-input type="text" class="form-item-input" [(ngModel)]="call.duration" name="duration" required>
      </ion-input>
    </ion-item>
    <ion-item class="is-international-wrap" lines="none">
      <ion-label>Appel à l'international</ion-label>
      <ion-checkbox [(ngModel)]="call.is_international" name="is_international">
      </ion-checkbox >
    </ion-item>
    <div class="button-wrap">
      <ion-button slot="start" (click)="Simulate()">Simuler</ion-button>
    </div>
    <div *ngIf="soumettreLoading" class="loader-wrap">
      <ion-spinner></ion-spinner>
    </div>
  </form>
</ion-content>
