
.form{
    font-family : Century Gothic;
    width : 85%;
    margin: 0 auto;
    .form-title{
        font-family: PoiretOne;
        font-size: 15px;
        font-weight : bolder;
        padding-top : 50px;
        text-align: center;
    }
    ion-item{
        --highlight-color-focused: none;
        ion-input{
            font-family : Segoe UI;
            letter-spacing: 0.2px;
            font-size : 15px;
            text-indent : 10px;
            color : #777777;
            border-bottom : solid 1px #AAAAAA;
            height : 50px; 
            margin-bottom : 5px;
            ion-icon{
                opacity : 0.5;
            }
        }
        ion-select{
            border-bottom : solid 1px #AAAAAA;
        }
        ion-label{
            font-family : PoiretOne;
            font-weight : bolder;
            opacity : 0.7;
        }
        &.item-has-focus > ion-label{
            color : var(--theme) !important;
            opacity : 1;
        }
        &.item-has-focus > ion-input{
            border-bottom : solid 1px var(--theme) !important;
            ion-icon{
                opacity : 1;
                color : var(--theme) !important;
            }
        }
    }
    .button-wrap{
        margin-top : 15px;
        display: flex;
        justify-content: center;
        ion-button{
            font-weight : bolder;
            font-family : monospace;
            width : calc(100% - 20px);
            height : 40px;
            margin: 0 auto;
            --background : var(--theme) !important;
        }
    }
    .is-international-wrap{
        --background : #eee;
        margin-top : 10px;
        ion-label{
            font-size: 10px;
            font-style: italic;
        }
    }
    
}