<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Internet</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="form">
    <h1 class="form-title">Simulation d'internet</h1>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Site web visité</ion-label>
      <ion-input type="text" class="form-item-input" [(ngModel)]="internet.website" name="website" required>
      </ion-input>
    </ion-item>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Consommation (en Mo)</ion-label>
      <ion-input type="text" class="form-item-input" [(ngModel)]="internet.consommation" name="consommation" required>
      </ion-input>
    </ion-item>
    <div class="button-wrap">
      <ion-button slot="start" (click)="Simulate()">Simuler</ion-button>
    </div>
    <div *ngIf="soumettreLoading" class="loader-wrap">
      <ion-spinner></ion-spinner>
    </div>
  </form>
</ion-content>
