<div class="header">
    <div class="infos">
        <h1 class="title">Selfcare</h1>
        <h2 class="subtitle">~ Front-office ~</h2>
    </div>

    <div class="card-container">
        <div class="card" routerLink="/historics">
            <span class="material-icons">
                assignment
            </span>
            <span>Call History</span>
        </div>
        <div class="card auth-wrap" *ngIf="!is_connected" (click)="goToLogin()">
            <span class="material-icons">
                login
            </span>
        </div>
        <div class="card auth-wrap" *ngIf="is_connected" (click)="logout()">
            <span class="material-icons">
                logout
            </span>
        </div>
    </div>
</div>