<h1 mat-dialog-title class="mat-dialog-title {{data.class}}">
    <span>{{data.title}}</span>
    <span class="material-icons">
    {{data.icon}}
    </span></h1>
<div mat-dialog-content class="mat-dialog-content">{{data.message}}</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button class="close-btn" mat-button mat-dialog-close>Fermer</button>
</div>