<app-header></app-header>
<div class="content">
    <h1 class="title">Création d'une nouvelle offre:</h1>
    <app-offer-form type="new" [id_offer]="-1"></app-offer-form>
</div>
<app-footer></app-footer>