<div class="login-wrap">

    <div class="login-content">
        <div class="infos">
            <img src="assets/img/tech.png" alt="logo" />
            <h1 class="title">Tech coorp.</h1>
        </div>
        <form class="login-form">
            <h1 class="title">Login</h1>
            <mat-form-field class="example-full-width">
                <mat-label>Numéro de téléphone</mat-label>
                <input matInput type="text" name="phoneNumber" [(ngModel)]="account.phoneNumber">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="account.password">
            </mat-form-field>
            <button mat-button class="custom-btn" (click)="Login()">Se connecter </button>
            
            <div class="link">Vous n'avez pas de compte ?. <a class="value" routerLink="/signup">S'inscrire</a></div>
            <mat-spinner *ngIf="onLogin" [diameter]="20"></mat-spinner>
        </form>
        
    </div>

</div>