<app-header></app-header>
<div class="content">
    <div class="mb-25 mt-25">
        <div class="loader-wrap" *ngIf="!onLoading">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="onLoading">
            <div class="form-group">
                <label for="year">Année : </label>
                <input type="number" name="year" class="form-control" ngModel>
                <button type="submit" class="btn btn-submit">Voir</button>
            </div>
        </form>
    </div>
    <div class="mb-25 mt-25">
        <h1 class="title">Statistiques des appels : {{year}}</h1>
        <div id="call-chart" class="chart-group">
            <apx-chart [series]="callchartOptions.series" [chart]="callchartOptions.chart" [xaxis]="callchartOptions.xaxis" [dataLabels]="callchartOptions.dataLabels" [grid]="callchartOptions.grid" [stroke]="callchartOptions.stroke" [title]="callchartOptions.title"></apx-chart>
        </div>
    </div>
    <div class="mb-25 mt-25">
        <h1 class="title">Statistiques des offres : {{year}}</h1>
        <div id="offer-chart" class="chart-group">
            <apx-chart [series]="offerchartOptions.series" [chart]="offerchartOptions.chart" [dataLabels]="offerchartOptions.dataLabels" [plotOptions]="offerchartOptions.plotOptions" [responsive]="offerchartOptions.responsive" [xaxis]="offerchartOptions.xaxis" [legend]="offerchartOptions.legend"
                [fill]="offerchartOptions.fill"></apx-chart>
        </div>
    </div>
</div>
<app-footer></app-footer>