.content {
    padding: 0px 50px;
    .title {
        font-family: PoiretOne;
        font-size: 30px;
        text-align: center;
    }
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

.chart-group {
    width: 80%;
    margin: 0 auto;
}

.mt-25 {
    margin-bottom: 25x;
}

.mb-25 {
    margin-bottom: 25px;
}

.form-control {
    border-radius: 5px;
    padding: 3px;
    border: 1px solid rgb(170, 170, 170);
}

.btn-submit {
    font-family: PoiretOne;
    background-color: #3f3f3f;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    font-size: 1.2em;
    border: 2px solid #fff;
    &:hover {
        cursor: pointer;
    }
}