footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 130px;
    width: 100%;
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: PoiretOne;
    font-size: medium;
    .author-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    li {
        list-style: none;
    }
    .sub-title {
        font-family: PoiretOne;
        font-size: large;
        text-decoration: underline;
        text-align: center;
    }
}