<footer>
    <div class="author-wrap">
        <span class="sub-title">Authors</span>
        <ul>
            <li>ETU 000876 : Andrianasolo Lala Sitrakaharinetsa Kevin</li>
            <li>ETU 001068 : Andriamahery Fihariantsoa Ryan</li>
        </ul>
    </div>
    <div>© Tech Coorp. - 2021</div>
</footer>