<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">A propos</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      ETU 000876 : Andrianasolo Lala Sitrakaharinetsa Kevin
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      ETU 001068 : Andriamahery Fihariantsoa Ryan
    </ion-card-content>
  </ion-card>
</ion-content>
