.login-wrap{
    min-height: 100vh;
    width : 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
    /*background-color: #fafafa;*/
    
    .login-content{
        display : flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.35);
        
        border : 1px solid #eeeeee;
        .infos{
            background-color: var(--theme);
            color : #fff;
            min-width : 500px !important;
            min-height : 500px;
            display : flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width : 150px;
            }
            .title{
                font-family: PoiretOne;
                font-size: 40px;
                margin-bottom : 30px;
            }
        }
        form{
            border-radius: 10px;
            display : flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding : 0px 40px;
            padding-bottom: 100px;
            width : 300px;
            min-height : 400px;
            background-color: #fff;
            .title{
                font-family : ReenieBeanie;
                font-size: 50px;
            }
            mat-label{
                font-family : PoiretOne;
                font-weight: bolder;
            }
            mat-form-field{
                width : 100%;
            }
            button{
                width : 100%;
                border : 2px var(--theme) solid;
                color : var(--theme);
                padding: 10px;
                margin-top : 20px;
                font-family : PoiretOne;
                font-weight: bolder;
                transition : all 0.2s ease-in-out;
                &:hover{
                    background-color : var(--theme);
                    color : #fff;
                }
                
            }
        }
    }
    
}
mat-spinner{
    position:relative;
    top : 25px;
}