<div class="clip-style"></div>
<div class="clip-style"></div>
<ion-content>
  <div class="form-wrap">
    
    <div class="infos">
      <img class="logo" src="assets/img/tech_invert.png"/>
      <h1 class="title">Tech coorp.</h1>
    </div>
    <form class="form">
      <ion-item class="form-item" lines="none">
        <ion-label position="stacked" class="form-item-label">Numéro de téléphone</ion-label>
        <ion-input type="text" class="form-item-input" [(ngModel)]="account.phoneNumber" name="phoneNumber" required>
          <ion-icon name="person" slot="end"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item class="form-item" lines="none">
        <ion-label position="stacked" class="form-item-label">Mot de passe</ion-label>
        <ion-input type="password" class="form-item-input" [(ngModel)]="account.password" name="password" required>
          <ion-icon name="key" slot="center"></ion-icon>
        </ion-input>
      </ion-item>
      <div class="button-wrap">
        <ion-button slot="start" (click)="Login()">Se connecter</ion-button>
      </div>
    </form>
    <div *ngIf="on_submit" class="loader-wrap">
      <ion-spinner></ion-spinner>
    </div>
    <div class="floating-text">
        Copyright 2021.
    </div>
    <div class="line"></div>
  </div>
  
</ion-content>
