
.clip-style:nth-child(1){
    position : absolute;
    width: 100%;
    height : 150px;
    z-index: 2;
    background-color: var(--theme);
    clip-path: polygon(0 1%, 100% 0%, 0 100%, 0 100%);
}
.clip-style:nth-child(2){
    position : absolute;
    width: 100%;
    height : 150px;
    z-index: 1;
    background-color: #EEEEEE;
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 100% 100%);
}

.form-wrap{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height : 100vh;
    padding-bottom : 50px;
    .infos{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logo{
            width : 100px;
        }
        .title{
            color : var(--theme);
            font-family: PoiretOne;
            font-size : 20px;
            margin : 0px;
        }
    }
    
    .form{
        font-family : Century Gothic;
        width : 85%;
        ion-item{
            --highlight-color-focused: none;
            ion-input{
                font-family : Segoe UI;
                letter-spacing: 0.2px;
                font-size : 15px;
                text-indent : 10px;
                color : #777777;
                border-bottom : solid 1px #AAAAAA;
                height : 50px; 
                margin-bottom : 5px;
                ion-icon{
                    opacity : 0.5;
                }
            }
            ion-label{
                font-family : PoiretOne;
                font-weight : bolder;
                opacity : 0.7;
            }
            &.item-has-focus > ion-label{
                color : var(--theme) !important;
                opacity : 1;
            }
            &.item-has-focus > ion-input{
                border-bottom : solid 1px var(--theme) !important;
                ion-icon{
                    opacity : 1;
                    color : var(--theme) !important;
                }
            }
        }
        .button-wrap{
            margin-top : 15px;
            display: flex;
            justify-content: center;
            ion-button{
                font-weight : bolder;
                font-family : monospace;
                width : calc(100% - 20px);
                height : 40px;
                margin: 0 auto;
                --background : var(--theme) !important;
            }
        }
        
    }
    .line{
        width : 80%;
        min-height : 1px;
        background-color:  #EEEEEE;
    }
    .floating-text{
        margin-top : 25px;
        top:5px;
        position : relative;
        color : #AAAAAA;
        font-family : Segoe UI;
        font-size : 10px;
        background-color : #FFFFFF;
        padding: 0px 10px;
    }
}