/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face{
    font-family: ShadowsIntoLight;
    src : url('assets/fonts/ShadowsIntoLight-Regular.ttf');
}
@font-face{
    font-family: PoiretOne;
    src : url('assets/fonts/PoiretOne.ttf');
}
@font-face{
    font-family: ReenieBeanie;
    src : url('assets/fonts/ReenieBeanie.ttf');
}
:root 
{
    --theme : #f7941d;
}
.loader-wrap {
    display: flex;
    justify-content: center;
    ion-spinner{
        color : #AAAAAA;
        margin-top : 15px;
    }
}
.page-title{
    font-family: Segoe UI;
    letter-spacing: 2px;
    font-size: 20px;
    color : var(--theme);
}
.alert-wrapper {
    .alert-title{
        font-family: PoiretOne;
        font-weight : bolder;
    }
    .alert-message{
        font-family: PoiretOne;
        font-weight : bolder;
        padding-bottom : 0px;
    }
}
.alert-info{
    margin : 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 15px;
    font-family: PoiretOne;
    font-weight : bolder;
    background-color: #fafafa;
    border-radius: 5px;
    border : 1px solid rgb(132, 130, 130);
}

.native-textarea.sc-ion-textarea-md{
    height : 200px;
}