/* You can add global styles to this file, and also import other style files */
@import './assets/css/style.css';
body{
    margin : 0px;
    background-color: #fafafa;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loader-wrap{
    width : 100%;
    display: flex;
    justify-content: center;
    padding : 20px;
    mat-spinner svg{
        width : 50px;
        height : 50px;

    }
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000!important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    padding : 0px !important;
    background-color: transparent !important;
}
:root 
{
    --theme : #f7941d;
}
.alert-info{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 15px;
    font-family: PoiretOne;
    font-weight : bolder;
    background-color: #fff;
    border-radius: 10px;
    border : 1px solid #ccc;
}