    .content {
        min-height: 100vh;
        padding: 0px 50px;
        padding-bottom: 100px;
        .title {
            font-family: PoiretOne;
            font-size: 30px;
            text-align: center;
        }
        .custom-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-family: PoiretOne;
            font-weight: bolder;
            transition: all 0.2s ease-in-out;
            background-color: #fafafa;
            width: 75px;
            opacity: 0.75;
            border: 1px solid #CCC;
            .material-icons {
                margin-right: 10px;
            }
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        .btn-decline {
            width: 100%;
            color: #e04545;
        }
        .btn-accept {
            width: 100%;
            color: #65c265;
        }
        table {
            width: 100%;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
            td,
            th {
                font-family: PoiretOne;
                font-weight: bolder;
                text-align: center;
                background-color: #fff;
                transition: all 0.2s ease-in-out;
            }
            th {
                padding: 20px 10px;
                background-color: #777;
                color: #fff;
            }
            .action-wrap {
                padding: 0px;
            }
        }
    }