<app-header></app-header>
<div class="content">
    <h1 class="title">Liste des transactions en attente : </h1>
    <div class="loader-wrap" *ngIf="onLoading">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="alert-info" *ngIf="transactions.length == 0 && !onLoading">
        Aucune transaction en attente pour le moment.
    </div>
    <table class="table" *ngIf="transactions.length != 0 && !onLoading">
        <thead>
            <th>
                ID Transaction
            </th>
            <th>Date de la transaction</th>
            <th>Nom du compte</th>
            <th>Type de transaction</th>
            <th>Montant</th>
            <th colspan="2">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.idMobileMoneyTransaction}}</td>
                <td>{{transaction.transactionDate | date : "medium"}}</td>
                <td>{{transaction.mobileMoneyAccount.account.name}}</td>
                <td>{{transaction.transactionType.description}}</td>
                <td>{{transaction.amount | number }} Ariary</td>
                <td>
                    <button (click)="decline(transaction)" class="custom-btn btn-decline">
                        <span class="material-icons">
                            remove_circle_outline
                        </span>
                        Rejeter
                    </button>
                </td>
                <td>
                    <button (click)="validate(transaction)" class="custom-btn btn-accept">
                        <span class="material-icons">
                            check
                            </span>
                        Valider
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>