<app-header></app-header>
<div class="content">
    <h1 class="title">Liste des offres:</h1>
    <div class="loader-wrap" *ngIf="onLoading">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>

    <div class="add-new-offer-wrap" *ngIf="!onLoading" routerLink="/offers/new">
        <span class="material-icons">
            add_box
        </span> Ajout nouvelle offre
    </div>
    <div class="alert-info" *ngIf="offers.length == 0 && !onLoading">
        Aucune offre.
    </div>
    <div class="offers-wrap">
        <div class="offer-wrap" *ngFor="let offer of offers">
            <span class="material-icons remove-btn" (click)="delete(offer.id_offer)">
                close
            </span>
            <h1 class="offer-name">{{offer.offer_name}}</h1>
            <p class="offer-info"><span class="description">Coût</span> : <span class="value">{{offer.cost}}</span> Ariary</p>
            <p class="offer-info"><span class="description">Validité</span> : <span class="value">{{offer.validity}}</span> {{offer.validity_unit}}</p>
            <p class="offer-info"><span class="description">Priorité</span> : <span class="value">{{offer.priority}}</span></p>

            <p class="offer-info" *ngFor="let offer_item of offer.offer_items"><span class="description">{{offer_item.offer_type_description}}</span> : <span class="value">{{offer_item.value}}</span> {{offer_item.unit}}</p>
            <div class="edit-btn" routerLink="/offers/update/{{offer.id_offer}}">
                <span class="material-icons">
                mode_edit
                </span>Modifier
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>