.content {
    min-height: 100vh;
    padding: 0px 50px;
    .title {
        font-family: PoiretOne;
        font-size: 30px;
        text-align: center;
    }
    .add-new-offer-wrap {
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        width: 200px;
        font-family: PoiretOne;
        background-color: #fff;
        font-weight: bolder;
        border-radius: 5px;
        margin: 0px auto;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        transition: all 0.2s ease-in-out;
        margin-bottom: 20px;
        .material-icons {
            margin-right: 10px;
        }
        &:hover {
            transform: translateY(-3px);
            cursor: pointer;
            border: none;
        }
        &:active,
        &:focus {
            outline: none;
        }
    }
    .offers-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 100px;
        .offer-wrap {
            background-color: #fff;
            border: 1px solid #777;
            padding: 30px;
            margin: 10px;
            width: 200px;
            min-height: 300px;
            .remove-btn {
                position: relative;
                float: right;
                top: -45px;
                left: 45px;
                background-color: #e04545;
                color: #fff;
                border-radius: 100%;
                padding: 5px;
                font-size: 18px;
                border: 2px solid #fff;
                transition: all 0.1s ease-in-out;
                &:hover {
                    top: -47px;
                    left: 47px;
                    padding: 7px;
                    cursor: pointer;
                }
            }
            .edit-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                background-color: #eee;
                opacity: 0.5;
                border-radius: 5px;
                transition: all 0.2s ease-in-out;
                font-family: PoiretOne;
                font-weight: bolder;
                align-self: flex-end;
                .material-icons {
                    margin-right: 10px;
                }
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
            .offer-name {
                font-family: PoiretOne;
                font-weight: bolder;
            }
            .offer-info {
                .description {
                    font-style: italic;
                }
                .value {
                    font-weight: bolder;
                }
            }
        }
    }
    .offers-table {
        width: 100%;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
        td,
        th {
            font-family: PoiretOne;
            font-weight: bolder;
            text-align: center;
            background-color: #fff;
            transition: all 0.2s ease-in-out;
        }
        th {
            padding: 20px 10px;
            background-color: #777;
            color: #fff;
        }
        .action-wrap {
            padding: 0px;
        }
        .action {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            transition: all 0.2s ease-in-out;
            .material-icons {
                margin-right: 10px;
            }
            td & {
                padding: 0px;
            }
            &.edit:hover {
                background-color: #65c265;
                color: #fff;
                cursor: pointer;
            }
            &.remove:hover {
                background-color: #e04545;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}