<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Message</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form class="form">
    <h1 class="form-title">Simulation de message</h1>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Destinataire</ion-label>
      <ion-input type="text" class="form-item-input" [(ngModel)]="message.recipient_phone_number" name="recipient_phone_number" required>
      </ion-input>
    </ion-item>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Corps du message</ion-label>
      <ion-textarea type="text" class="form-item-input" [(ngModel)]="message.message_body" name="message_body" required>
      </ion-textarea>
    </ion-item>
    <div class="button-wrap">
      <ion-button slot="start" (click)="Simulate()">Simuler</ion-button>
    </div>
    <div *ngIf="soumettreLoading" class="loader-wrap">
      <ion-spinner></ion-spinner>
    </div>
  </form>
</ion-content>