<app-header></app-header>
<div class="content">
    <h1 class="title">Modification d'une offre:</h1>
    <app-offer-form type="update" [id_offer]="id_offer"></app-offer-form>
</div>
<app-footer></app-footer>