.mat-dialog-title{
    font-family: PoiretOne;
    font-weight: bolder;
    font-size: 20px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .material-icons{
        padding-left: 10px;
    }
    &.error{
        color : red;
    }
    &.success{
        color : #777;
    }
}
.mat-dialog-content{
    font-family: PoiretOne;
    font-size: 15px;
    min-height : 30px;
    min-width : 150px;
}
.mat-dialog-actions{
    display: flex;
    justify-content: flex-end;
}
.mat-dialog-actions button{
    font-family: PoiretOne;
    font-weight: bolder;
}