
.content{
    padding : 0px 50px;
    .title{
        font-family : PoiretOne;
        font-size: 30px;
        text-align : center;
    }
    .pricing-form{
        display : flex;
        flex-direction: column;
        justify-content: flex-end;
        width : 500px;
        margin: 0 auto;
        padding-bottom: 50px;
        .create-btn{
            border : 2px var(--theme) solid;
            color : var(--theme);
            padding: 10px;
            margin-top : 40px;
            transition : all 0.2s ease-in-out;
            &:hover{
                background-color : var(--theme);
                color : #fff;
            }
            mat-spinner{
                margin-left : 10px;
            }
        }
        .site-web-wrap{
            display : flex;
            flex-direction: column;
            .add-btn{
                background-color: #000;
                color : #FFF;
                margin-left : 20px;
            }
            .controls{
                display : flex;
                justify-content: center;
                align-items: center;
            }
            .site {
                display : flex;
                justify-content: center;
                align-items: center;
                mat-form-field{
                    width : 75%;
                }
                .remove-btn{
                    color : #f01d1d;
                    min-width : 0px;
                    padding : 5px;
                    line-height : 0px;
                    height : 35px;
                    margin-left : 0px;
                }
            }
        }
        .pricing-wrap{
            display : flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: PoiretOne;
            .pricing-title{
                font-size: 25px;
            }
            mat-form-field{
                width : 100%;
            }
        }
    }
}