<app-header></app-header>
<div class="content">
    <h1 class="title">Pricing:</h1>
    <div class="loader-wrap" *ngIf="!pricingLoaded">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>

    <form class="pricing-form" *ngIf="pricingLoaded">
        <div class="pricing-wrap">
            <mat-form-field class="example-full-width">
                <mat-label>Appel vers FAF (En Ar/s)</mat-label>
                <input matInput placeholder="Ex. 0.5Ar/s" name="call_cost_faf" [(ngModel)]="pricing.call_cost_faf">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Appel vers l'opérateur (En Ar/s)</mat-label>
                <input matInput placeholder="Ex. 1Ar/s" name="call_cost_operator" [(ngModel)]="pricing.call_cost_operator">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Appel vers les autres opérateurs (En Ar/s)</mat-label>
                <input matInput placeholder="Ex. 3Ar/s" name="call_cost_other_operator" [(ngModel)]="pricing.call_cost_other_operator">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Appel international (En Ar/s)</mat-label>
                <input matInput placeholder="Ex. 5Ar/s" name="call_cost_international" [(ngModel)]="pricing.call_cost_international">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Coût message (En Ar/256 caractères)</mat-label>
                <input matInput placeholder="Ex. 100Ar/256 caractères" name="message_cost" [(ngModel)]="pricing.message_cost">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Coût internet (En Ar/Mo)</mat-label>
                <input matInput placeholder="Ex. 40Ar/Mo" name="internet_cost" [(ngModel)]="pricing.internet_cost">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Tarif par defaut</mat-label>
                <input matInput placeholder="Ex. 40Ar" name="default_cost" [(ngModel)]="pricing.default_cost">
            </mat-form-field>
        </div>

        <button mat-button class="create-btn" (click)="savePricing()">Enregistrer les modifications<mat-spinner *ngIf="onSave" style="display: inline-block;" diameter="20"></mat-spinner></button>
    </form>
</div>
<app-footer></app-footer>