<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Mes offres</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="onLoading" class="loader-wrap">
    <ion-spinner></ion-spinner>
  </div>
  <div class="alert-info" *ngIf="current_offers.length == 0 && !onLoading">
    Aucune offre disponible.
  </div>
  <ion-card class="offer" *ngFor="let tmp of current_offers">
    <ion-card-header>
      <ion-card-title>{{tmp.offer.offer_name}}</ion-card-title>
      <ion-card-subtitle>Date d'expiration : <b>{{tmp.account_offer.expirationDate | date : "medium"}}</b></ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <b>Valeurs restantes :</b>
      <p class="offer-info" *ngFor="let offer_item of tmp.offer_items_remaining_values"><span class="description">{{offer_item.offer_type_description}}</span> : <span class="value">{{offer_item.value}}</span> {{offer_item.unit}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
