<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Simulation</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form class="form">
    <h1 class="form-title">Ecran de simulation</h1>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Type de l'offre</ion-label>
      <ion-select class="form-item-input" [(ngModel)]="simulation.id_offer_type" name="id_offer_type" (ionChange)="refresh_offer_type_unit()"required>
        <ion-select-option *ngFor="let tmp of offer_type_list"  value="{{tmp.id_offer_type}}">{{tmp.description}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Valeur</ion-label>
      <ion-input type="text" class="form-item-input" [(ngModel)]="simulation.value" name="value" required>
      </ion-input>
    </ion-item>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Unité</ion-label>
      <ion-select class="form-item-input" [(ngModel)]="simulation.id_unit" name="id_unit" required>
        <ion-select-option *ngFor="let tmp of current_offer_type_unit"  value="{{tmp.id_unit}}">{{tmp.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="form-item call-toggle" lines="none">
      <ion-label class="form-item-label" >Simuler appel</ion-label>
      <ion-toggle color="dark" (ionChange) = "refresh_is_call()"></ion-toggle>
    </ion-item>
    <ion-item class="form-item" lines="none" *ngIf="is_call">
      <ion-label position="stacked" class="form-item-label">Destinataire</ion-label>
      <ion-input type="text" class="form-item-input" id="recipient_phone_number" [(ngModel)]="simulation.recipient_phone_number" name="recipient_phone_number" required [disabled]="!is_call">
      </ion-input>
    </ion-item>
    <ion-item class="is-international-wrap" lines="none" *ngIf="is_call">
      <ion-label>Appel à l'international</ion-label>
      <ion-checkbox [(ngModel)]="simulation.is_international" id="is_international" name="is_international" [disabled]="!is_call">
      </ion-checkbox >
    </ion-item>
    <div class="button-wrap">
      <ion-button slot="start" (click)="Simulate()">Simuler</ion-button>
    </div>
    <div *ngIf="onLoading" class="loader-wrap">
      <ion-spinner></ion-spinner>
    </div>
  </form>
</ion-content>
