<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Mon compte</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-button  routerLink="/app/account_balance">Consulter</ion-button>
      <ion-card-title>Compte principale</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Pour voir le solde de votre compte principale / le montant du crédit restant (en Ariary).
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-button  routerLink="/app/mobile_money">Accéder</ion-button>
      <ion-card-title>Mobile money</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Pour acceder à votre compte Mobile money, voir le solde actuel de celui-ci et de faire des dépots dans votre compte.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-button routerLink="/app/current_offers">Voir</ion-button>
      <ion-card-title>Mes offres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Pour voir vos offres en cours, ainsi que leurs valeurs restantes.
    </ion-card-content>
  </ion-card>
</ion-content>