ion-card{
    ion-card-title{
        font-family : PoiretOne;
        font-weight : bolder;
    }
    ion-card-subtitle{
        font-style : italic;
    }
    ion-button{
        color : #fff;
        --background : var(--theme) !important;
        font-family: monospace;
        float : right;
    }
}