<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Mobile money</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="account-infos">
    <ion-card-content>
      <p class="solde">Solde : <span class="value">{{mobile_money.accountBalance}}</span> Ariary</p>
    </ion-card-content>
  </ion-card>
  
  <form class="form">
    <h1 class="form-title">Nouvelle transaction</h1>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Transaction type</ion-label>
      <ion-select class="form-item-input" [(ngModel)]="mobile_money_transaction.idMobileMoneyTransactionType" name="idMobileMoneyTransactionType" required>
        <ion-select-option *ngFor="let tmp of mobile_money_transaction_type"  value="{{tmp.id_mobile_money_transaction_type}}">{{tmp.mobile_money_transaction_type}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="form-item" lines="none">
      <ion-label position="stacked" class="form-item-label">Montant</ion-label>
      <ion-input type="text" class="form-item-input" [(ngModel)]="mobile_money_transaction.amount" name="amount" required>
      </ion-input>
    </ion-item>
    
    <div class="button-wrap">
      <ion-button slot="start" (click)="SaveMobileMoneyTransaction()">Soumettre</ion-button>
    </div>
    <div *ngIf="soumettreLoading" class="loader-wrap">
      <ion-spinner></ion-spinner>
    </div>
  </form>
</ion-content>
