<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title class="page-title">Achat d'offre</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="onLoading" class="loader-wrap">
    <ion-spinner></ion-spinner>
  </div>
  <div class="alert-info" *ngIf="offers.length == 0 && !onLoading">
    Aucune offre disponible.
  </div>
  <ion-card class="offer" *ngFor="let offer of offers">
    <ion-card-header>
      <ion-button class="buy-btn" (click)="purchase_offer(offer)">Acheter</ion-button>
      <ion-card-title>{{offer.offer_name}}</ion-card-title>
      <ion-card-subtitle>~ {{offer.cost}} Ariary ~</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <p class="offer-info"><span class="description">Validité</span> : <span class="value">{{offer.validity}}</span> {{offer.validity_unit}}</p>
      
      <p class="offer-info" *ngFor="let offer_item of offer.offer_items"><span class="description">{{offer_item.offer_type_description}}</span> : <span class="value">{{offer_item.value}}</span> {{offer_item.unit}}</p>
      <ion-item class="payment-wrap" lines="none">
        <ion-label>Achat avec Mobile money</ion-label>
        <ion-checkbox [(ngModel)]="offer.withMobileMoney" name="withMobileMoney">
        </ion-checkbox >
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
