.offer{
    ion-card-title{
        font-family : PoiretOne;
        font-weight : bolder;
    }
    ion-card-subtitle{
        font-style : italic;
    }
    .buy-btn{
        color : #fff;
        --background : var(--theme) !important;
        font-family: monospace;
        float : right;
    }
    .offer-info{
        .description{
            font-style : italic;
        }
        .value{
            font-weight: bolder;
        }
    }
    .payment-wrap{
        --background : #eee;
        margin-top : 10px;
        ion-label{
            font-size: 10px;
            font-style: italic;
        }
    }
}