.header{
    /*background-color: #BF6B63;*/
    background-color: var(--theme);
    padding : 0px 100px;
    padding-top : 50px;
    clip-path: polygon(0 11%, 100% 0, 100% 86%, 0 100%, 0 100%, 0% 50%);
    margin-bottom: 30px;
    .infos{
        float: left;
        margin-top: 30px;
    }
    .title{
        font-family : PoiretOne;
        //text-align : center;
        margin: 0px;
        color : #fff;
    }
    .subtitle{
        font-family : ReenieBeanie;
        //text-align : center;
        margin: 0px;
        color : #fff;
    }
    .card-container{
        display : flex;
        flex-wrap : wrap;
        justify-content: flex-end;
        padding : 20px 0px;
        font-family : PoiretOne;
        font-weight : bolder;
        padding-bottom: 50px;
    }
    .card-container .card{
        display : flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 40px;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        transition: all 0.2s ease-in-out;
        &:active, &:focus{
            outline : none;
        }
    }
    .card-container .card:hover{
        transform : translateY(-3px);
        cursor: pointer;
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .card-container .card.auth-wrap{
        width : 50px;
        background-image:linear-gradient(to bottom right,#AAA, #eee);
        color : #fff;
        &:hover{
            background-image:linear-gradient(to bottom right,#eee, #AAA);
        }
    }
    @media screen and (max-width : 600px){
        .card-container .card {
            height: 10px;
            width: 125px;
        }
    }
}
