<div class="header">
    <div class="infos">
        <h1 class="title">Administration</h1>
        <h2 class="subtitle">~ Backoffice ~</h2>
    </div>

    <div class="card-container">
        <div class="card" routerLink="/pricing">
            <span class="material-icons">
                attach_money
            </span>
            <span>Pricing</span>
        </div>
        <div class="card" routerLink="/offers">
            <span class="material-icons">
                card_giftcard
            </span>
            <span>Offers</span>
        </div>
        <div class="card" routerLink="/transaction">
            <span class="material-icons">
                post_add
            </span>
            <span>Transactions</span>
        </div>
        <div class="card" routerLink="/statistics">
            <span class="material-icons">
                query_stats
            </span>
            <span>Statistiques</span>
        </div>
        <div class="card auth-wrap" *ngIf="!is_connected" (click)="goToLogin()">
            <span class="material-icons">
                login
            </span>
        </div>
        <div class="card auth-wrap" *ngIf="is_connected" (click)="logout()">
            <span class="material-icons">
                logout
            </span>
        </div>
    </div>
</div>