<div  class="alert-info" *ngIf="!showOffer">
  L'offre n'a pas été trouvé.
</div>
<form class="offer-form" *ngIf="showOffer">
    <mat-form-field class="example-full-width">
        <mat-label>Nom de l'offre</mat-label>
        <input matInput placeholder="Ex. Telma Mora" name="offer_name" [(ngModel)]="offer.offer_name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Prix (en Ariary)</mat-label>
        <input matInput placeholder="Ex. 500 Ariary" name="cost" [(ngModel)]="offer.cost">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Validité (en Jours)</mat-label>
        <input matInput placeholder="Ex. 1 jour" name="validity" [(ngModel)]="offer.validity">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Validité (Unité)</mat-label>
        <mat-select  (value)="offer.validity_unit"  name="validity_unit" [(ngModel)]="offer.validity_unit">
          <mat-option value="day">
            Jour
          </mat-option>
          <mat-option value="week">
            Semaine
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    <mat-form-field class="example-full-width">
        <mat-label>Priorité</mat-label>
        <input matInput placeholder="Ex. 10" name="priority" [(ngModel)]="offer.priority">
    </mat-form-field>
      <div class="pricing-wrap">
            <mat-label class="pricing-title">Pricing</mat-label>
            <div class="loader-wrap" *ngIf="!pricingLoaded">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <div *ngIf="pricingLoaded">
                <mat-form-field class="example-full-width">
                    <mat-label>Appel vers FAF (En Ar/s)</mat-label>
                    <input matInput placeholder="Ex. 0.5Ar/s" name="call_cost_faf" [(ngModel)]="offer.offer_pricing.call_cost_faf">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Appel vers l'opérateur (En Ar/s)</mat-label>
                    <input matInput placeholder="Ex. 1Ar/s" name="call_cost_operator" [(ngModel)]="offer.offer_pricing.call_cost_operator">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Appel vers les autres opérateurs (En Ar/s)</mat-label>
                    <input matInput placeholder="Ex. 3Ar/s" name="call_cost_other_operator" [(ngModel)]="offer.offer_pricing.call_cost_other_operator">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Appel international (En Ar/s)</mat-label>
                    <input matInput placeholder="Ex. 5Ar/s" name="call_cost_international" [(ngModel)]="offer.offer_pricing.call_cost_international">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Coût message (En Ar/256 caractères)</mat-label>
                    <input matInput placeholder="Ex. 100Ar/256 caractères" name="message_cost" [(ngModel)]="offer.offer_pricing.message_cost">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Coût internet (En Ar/Mo)</mat-label>
                    <input matInput placeholder="Ex. 40Ar/Mo" name="internet_cost" [(ngModel)]="offer.offer_pricing.internet_cost">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Tarif par defaut</mat-label>
                    <input matInput placeholder="Ex. 40Ar" name="default_cost" [(ngModel)]="offer.offer_pricing.default_cost">
                </mat-form-field>
            </div>
            
      </div>
      
      <div class="offer-items-wrap">
        <div class="controls">
            <button mat-button color="primary" class="add-btn" (click)="addOfferItem()">
                <span class="material-icons">
                add
                </span>
                <span>Ajouter un nouvel item offre</span>
            </button>
        </div>
        <div class="offer-item" *ngFor="let offer_item of offer.offer_items; let i  = index;  trackBy: trackByFn">
            <mat-form-field appearance="fill">
                <mat-label>Type de l'offre</mat-label>
                <mat-select (value)="''+offer.offer_items[i].id_offer_type" name="id_offer_type_{{i}}" [(ngModel)]="''+offer.offer_items[i].id_offer_type" (ngModelChange)="refresh_offer_type_unit_of(i)">
                  <mat-option *ngFor="let offer_type of offer_type_list" value="{{offer_type.id_offer_type}}" >
                    {{offer_type.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Valeur</mat-label>
                <input matInput placeholder="100" name="offer_type_value_{{i}}" [(ngModel)]="offer.offer_items[i].value">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Unité</mat-label>
                <mat-select  name="offer_type_unit_{{i}}" [(ngModel)]="offer.offer_items[i].unit">
                  <mat-option  *ngFor="let offer_type_unit of offer_item_offer_type_unit_list[i]" value="{{offer_type_unit.name}}">
                    {{offer_type_unit.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            
            <button mat-button class="remove-btn"(click)="deleteOfferItem(i)">
                <span class="material-icons">
                    remove_circle_outline
                </span>
            </button>
        </div>
      </div>
    <button *ngIf="isUpdate()" mat-button class="create-btn" (click)="updateOffer()">Enregistrer les modifications<mat-spinner *ngIf="onSave" style="display: inline-block;" diameter="20"></mat-spinner></button>

    <button *ngIf="isNew()"  mat-button class="create-btn" (click)="saveOffer()">Créer<mat-spinner *ngIf="onSave" style="display: inline-block;" diameter="20"></mat-spinner></button>
</form>