
    .offer-form{
        display : flex;
        flex-direction: column;
        justify-content: flex-end;
        width : 500px;
        margin: 0 auto;
        padding-bottom: 50px;
        .create-btn{
            border : 2px var(--theme) solid;
            color : var(--theme);
            padding: 10px;
            margin-top : 40px;
            transition : all 0.2s ease-in-out;
            &:hover{
                background-color : var(--theme);
                color : #fff;
            }
            mat-spinner{
                margin-left : 10px;
            }
        }
        .offer-items-wrap{
            margin-top : 50px;
            display : flex;
            flex-direction: column;
            .add-btn{
                background-color: #000;
                color : #FFF;
                margin-left : 20px;
                margin-bottom: 30px;
            }
            .controls{
                display : flex;
                justify-content: center;
                align-items: center;
            }
            .offer-item {
                display : flex;
                justify-content: center;
                align-items: center;
                mat-form-field{
                    margin : 0px 10px;
                    background-color: transparent;
                   width : 130px;
                }
                
                .remove-btn{
                    color : #f01d1d;
                    padding : 5px;
                    height : 35px;
                    position : relative;
                    top: -10px;
                    display : flex;
                    justify-content: center;
                    align-items: center;
                        &:hover{
                        background-color: #fafafa;
                    }
                }
            }
        }
        .pricing-wrap{
            display : flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: PoiretOne;
            margin-top : 20px;
            .pricing-title{
                font-size: 25px;
            }
            mat-form-field{
                width : 100%;
            }
        }
    }
    