.content {
    min-height: 100vh;
}

.historic-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.date-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-family: PoiretOne;
    .form-control {
        padding: 4px;
        border-radius: 5px;
        border: 1px solid rgb(170, 170, 170);
    }
    .btn-submit {
        font-family: PoiretOne;
        background-color: #3f3f3f;
        color: #fff;
        border-radius: 5px;
        width: 100px;
        padding: 5px;
        font-size: 1.2em;
        border: 2px solid #fff;
        &:hover {
            cursor: pointer;
        }
    }
}

.filter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 30px;
    font-family: PoiretOne;
    width: 500px;
}

.content {
    padding: 0px 50px;
    .title {
        font-family: PoiretOne;
        font-size: 30px;
        text-align: center;
    }
    .add-new-offer-wrap {
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        width: 200px;
        font-family: PoiretOne;
        background-color: #fff;
        font-weight: bolder;
        border-radius: 5px;
        margin: 0px auto;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        transition: all 0.2s ease-in-out;
        margin-bottom: 20px;
        .material-icons {
            margin-right: 10px;
        }
        &:hover {
            transform: translateY(-3px);
            cursor: pointer;
            border: none;
        }
        &:active,
        &:focus {
            outline: none;
        }
    }
    table {
        width: 100%;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
        td,
        th {
            font-family: PoiretOne;
            font-weight: bolder;
            text-align: center;
            background-color: #fff;
            transition: all 0.2s ease-in-out;
            padding: 10px;
        }
        th {
            padding: 20px 10px;
            background-color: #777;
            color: #fff;
        }
        .date {
            font-family: Segoe UI;
            font-weight: normal;
            font-style: italic;
        }
    }
}