<app-header></app-header>
<div class="content">
    <h1 class="title">Historique de tous les appels : {{months[form.month - 1].value}} {{form.year}}</h1>
    <form (ngSubmit)="onSubmit()" class="historic-form">
        <div class="date-form">
            <div class="form-group">
                <label>Mois : </label>
                <select class="form-control" name="month" [(ngModel)]="form.month" required>
                <option *ngFor="let month of months" value="{{month.month_number}}">{{month.value}}</option>

            </select>
            </div>
            <div class="form-group">
                <label>Année : </label>
                <input type="number" id="year" class="form-control" name="year" [(ngModel)]="form.year" required>
            </div>
            <div class="form-group">
                <button class="btn btn-submit" type="submit">Voir</button>
            </div>
        </div>
        <div class="filter-form">
            <label for="filter">Filtre : </label>
            <div class="input-checkbox-inline">
                <input type="radio" name="filter" value="all" class="input-checkbox-control" [(ngModel)]="form.filter">
                <label>Tout</label>
            </div>
            <div class="input-checkbox-inline">
                <input type="radio" name="filter" value="default" class="input-checkbox-control" [(ngModel)]="form.filter">
                <label>Mon opérateur</label>
            </div>
            <div class="input-checkbox-inline">
                <input type="radio" name="filter" value="other" class="input-checkbox-control" [(ngModel)]="form.filter">
                <label>Autre opérateur</label>
            </div>
            <div class="input-checkbox-inline">
                <input type="radio" name="filter" value="international" class="input-checkbox-control" [(ngModel)]="form.filter">
                <label>International</label>
            </div>
        </div>
    </form>
    <div class="loader-wrap" *ngIf="onLoading">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="alert-info" *ngIf="historics.length == 0 && !onLoading">
        Historique vide.
    </div>
    <table class="table" *ngIf="historics.length != 0  && !onLoading">
        <thead>
            <tr>
                <th>ID Appel</th>
                <th>Date de l'appel</th>
                <th>Nom de l'appelant</th>
                <th>Numéro de l'appelant</th>
                <th>Numéro destinataire</th>
                <th>Appel International</th>
                <th>Durée de l'appel</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let historic of historics">
                <td>{{historic.idCall}}</td>
                <td class="date">{{historic.date | date : "medium"}}</td>
                <td>{{historic.account.name}}</td>
                <td>{{historic.account.phoneNumber}}</td>
                <td>{{historic.recipientPhoneNumber}}</td>
                <td *ngIf="historic.isInternational; then thenBlock else elseBlock"></td>
                <ng-template #thenBlock>
                    <td>Oui</td>
                </ng-template>
                <ng-template #elseBlock>
                    <td>Non</td>
                </ng-template>
                <td>{{historic.duration}}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>