
<ion-tabs #appTabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="simulation">
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>
    <!--<ion-tab-button tab="simulation_call">
      <ion-icon name="call"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="simulation_message">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="simulation_internet">
      <ion-icon name="globe"></ion-icon>
    </ion-tab-button>-->

    <ion-tab-button tab="offer">
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="my_account">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="help-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
