<div class="login-wrap">

    <div class="login-content">
        <div class="infos">
            <img src="assets/img/tech.png" alt="logo" />
            <h1 class="title">Tech coorp.</h1>
        </div>
        <form class="login-form">
            <h1 class="title">Signup</h1>
            <mat-form-field class="example-full-width">
                <mat-label>Nom</mat-label>
                <input matInput type="text" name="name" [(ngModel)]="account.name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Date de naissance</mat-label>
                <input matInput type="date" name="birth_date" [(ngModel)]="account.birthDate">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>CIN</mat-label>
                <input matInput type="text" name="cin" [(ngModel)]="account.cin">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Numéro de téléphone</mat-label>
                <input matInput type="text" name="phoneNumber" [(ngModel)]="account.phoneNumber">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="account.password">
            </mat-form-field>
            <button mat-button class="custom-btn" (click)="Signup()">S'inscrire</button>
            <div class="link">Vous avez déja un compte ?. <a class="value" routerLink="/login">Se connecter</a></div>
            <mat-spinner *ngIf="onSignup" [diameter]="20"></mat-spinner>
            
        </form>
        
    </div>

</div>